@import '~style/helpers';

//========================//container//============================
.containerLight {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_light.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}
//========================//container//============================
.containerDark {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_dark.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}

//========================//container//============================
.settingsLight {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_light_settings.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}
//========================//container//============================
.settingsDark {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_dark_settings.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}

//========================//header//============================
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}

//========================//details//============================
.details {
	flex: 4;
}

//========================//city//============================
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
}

//========================//weather//============================
.currentConditions {
	font-size: 1.2em;
}

//========================//weather//============================
.predictedConditions {
	font-size: 0.8em;
	margin-bottom: 10px;
	margin-top: 0px;
	justify-content: center;
}

//========================//weather//============================
.lastUpdated {
	font-size: 0.8em;
}

//========================//weather//============================
.feelsLike {
	font-size: 0.8em;
}

//========================//weather//============================
.dailyLook {
	font-size: 1em;
}

//========================//temperature//============================
.temperature {
	font-size: 4.8em;
	font-weight: 400px;
	letter-spacing: -5px;
}

//========================//div//============================
.forecasts {
	padding: 0px
}

//========================//future°//============================
.celsiusSymbol:after {
	content: "°C";
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
	letter-spacing: -1px;}

//========================//high temp//============================
.previewForecastsHigh {
	font-size: 1.4em;
	font-weight: 900;
	vertical-align: top;
}

//========================//low temp//============================
.previewForecastsLow {
	font-size: 0.8em;
	color: #3D3D3D;
	margin-left: 20px;
	margin-right: 20px;
}

//========================//temp dates//============================
.dates {
	font-size: 0.8em;
	font-weight: 900;
	flex: 2;
	justify-content: center;
	margin-left: 20px;
	margin-right: 20px;
}

//========================//TFL notification//============================
.tflContainer { /*tfl alerts*/
	position: relative;
	text-align: center;
	padding-top: 10px;
	opacity: 0.95
}

//========================//TFL txt//============================
.TEXT { /*tfl warnings*/
	position: absolute;
	color: black;
	font-size: 12px;
	text-align: center;
	top: 20%;
	left: 20%;
	width: 70%;
	text-align: justify;
	height: 65px;
	overflow: auto;
}

//========================//units//============================
.units {
	position: relative;
	left: 320px;
	bottom: 100px;
	height: 0;
	width: fit-content;

}

//========================//units//============================
.units h1 {
	height: 10px;
}

//========================//units//============================
.units h1:hover {
	cursor: pointer;
}

//========================//Redudant below//============================
.filled:after { //5 day preview celcius
	content: "°";
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	vertical-align: top;
	letter-spacing: -1px;
}
