@import '~style/helpers';

.containerLight {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_light.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}

.containerDark {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_dark.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}




.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
}
.conditions {
	flex: 2;
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 400;
	letter-spacing: -2px;
}

.forecasts {
	flex: 2;
	margin-top: 0;
	font-size: 1em;
	font-weight: 400;
	margin : 1px;
	margin-left: auto;
	margin-right: auto;
}

.filled:after {
	content: "°";
	font-size: 0.8em;
	font-weight: 900;
	display: inline-block;
	vertical-align: top;
}

.tflContainer {
	position: relative;
	text-align: center;
	padding-top: 10px;
}

.TEXT {
	position: absolute;
	color: black;
	font-size: 12px;
	text-align: center;
	top: 20%;
	left: 20%;
	width: 70%;
	text-align: justify;
	height: 65px;
	overflow: auto;

}

.units {
	position: relative;
	left: 120px;
	bottom: 100px;
	height: 0;
}

.units h1 {
	height: 10px;
}
