@import '~style/helpers';

.container {
	//display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/BG_light.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 400;
	letter-spacing: -5px;
}

.forecasts {
	flex: 2;
	margin-top: 0;
	font-size: 1em;
	font-weight: 400;
	margin : 1px;
}

.filled:after {
	content: "°C";
	//margin-left: 0px;
	font-size: 0.8em;
	font-weight: 900;
	display: inline-block;
	//padding-top: 10px;
	vertical-align: top;
}

.tflContainer {
	position: relative;
	text-align: center;
	padding-top: 10px;
}

.TEXT {
	position: absolute;
	color: black;
	text-align: center;
	top: 45%;
	left: 30%;
}
